{% extends '_base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar novo Animal</title>
</head>
<body>
    <form action="/pet/create/" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h1>Adicionar novo Animal</h1>
        {{ form.as_p }}
        <input type="submit" value="Enviar">
    </form>
</body>
</html>
{% endblock %}